/network/delta.lst.old
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/Versions/LatestDebug/cl_dlls/client.dll
/Versions/LatestDebug/cl_dlls/client.exp
/Versions/LatestDebug/cl_dlls/client.ilk
/Versions/LatestDebug/cl_dlls/client.pdb
/Versions/LatestDebug/dlls/hl.dll
/Versions/LatestDebug/dlls/hl.exp
/Versions/LatestDebug/dlls/hl.ilk
/Versions/LatestDebug/dlls/hl.lib
/Versions/LatestDebug/dlls/hl.pdb
/Versions/LatestDebug/cl_dlls/client.dll
/Versions/LatestDebug/cl_dlls/client.exp
/Versions/LatestDebug/cl_dlls/client.ilk
/Versions/LatestDebug/cl_dlls/client.pdb
/Versions/LatestDebug/dlls/hl.dll
/Versions/LatestDebug/dlls/hl.exp
/Versions/LatestDebug/dlls/hl.ilk
/Versions/LatestDebug/dlls/hl.lib
/Versions/LatestDebug/dlls/hl.pdb
/Versions/LatestDebug/
